:root .theme_light {
  --main-color: #353430;
  --text-color: var(--main-color);
  --accent-color: #ff8dcb;
  --main-heading-color: #ffc2e6;
  --main-font: "IBM Plex mono", sans-serif;
  --page-margin: 20px;
  --page-margin-mobile: 10px;
  --main-font-size: 18px;
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --accent-color-pale: #35343066;
  --button-color: var(--main-color);
  --header-color: var(--main-color);
  --icon-opacity: 0;
  --border-color: var(--main-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #353430;
    --text-color: var(--main-color);
    --accent-color: #ff8dcb;
    --main-heading-color: #ffc2e6;
    --main-font: "IBM Plex mono", sans-serif;
    --page-margin: 20px;
    --page-margin-mobile: 10px;
    --main-font-size: 18px;
    --background-image: url(../images/cover-image-light.png);
    --background-color: #fff1f7;
    --accent-color-pale: #35343066;
    --button-color: var(--main-color);
    --header-color: var(--main-color);
    --icon-opacity: 0;
    --border-color: var(--main-color);
  }
}